.heading{
  
    /* display:inline-block; */
    display:flex;
    justify-content: center;
    background-color: rgb(79, 196, 104);
    color:aliceblue;
    width:100%
    
}
.header{
    display:flex;
}
#logo{
    display:inline-block;
    width:100px;
    height:100px;
}


#box1{
    height:100px;
    background-color: rgb(10, 10, 10);
    
}
a{
    margin-left: 20px;
    color:aliceblue;
}