body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4f4fb9;
    color: #333;
}

#app-container {
    width: 90%;
    max-width: 700px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #b31e1e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
}

#clock {
    font-size: 3rem;
    font-weight: bold;
    color: #51ff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#clock span:nth-child(2) {
    animation: blink 1s infinite;
}

button {
    padding: 10px 20px;
    background-color: #3cff00;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s, background-color 0.2s;
}

button:hover {
    transform: scale(1.05);
    background-color: #a9b500;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #df3434;
    border-radius: 5px;
    font-size: 1rem;
}

.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme #clock-container,
.dark-theme #alarm-container,
.dark-theme #theme-container,
.dark-theme #stopwatch-container,
.dark-theme #countdown-container {
    background-color: #1e1e1e;
    color: #ddd;
}

@media (max-width: 600px) {
    #clock {
        font-size: 2rem;
    }

    button, input {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}
